@font-face {
  font-family: 'Monolith Light';
  src: url('../public/fonts/Monolith Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Monolith';
  src: url('../public/fonts/Monolith.ttf') format('truetype');
}

a {
  color: #7A3A23;
  font-weight: regular;
  text-decoration: underline;
}

.App {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Logo {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9;
  width:100px;
  transition: filter 0.5s ease-out;
}

.App.expanded .TopSection{
  /* height: 2%; */
  transform: translateY(-38vh);
  transition: transform 0.5s ease-out; 
  will-change: transform;
 
}
.App.expanded .MiddleSection{
  height: 73%;
  transform: translateY(-38vh);
  transition: all 0.5s ease-out; 

}
.App.expanded .BottomSection{
  transform: translateY(-38vh);
  transition: all 0.5s ease-out; 
  height: 25%;

}
.App.expanded .Logo{
  filter: invert(1);
}

.TopSection {
  position: relative;
  height: 40%;
  background-color: #f3e2cb;
  /* transform: none; */
  transition: transform 0.5s ease-out; 
  will-change: transform;
}

.MiddleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35%;
  margin-right: 20px;
  margin-left: 20px;
  /* transform: none; */
  transition: all 0.5s ease-out; 
}

.BottomSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  /* transform: none; */
  transition: transform 0.5s ease-out; 
  will-change: transform;
}

.TextContainer {
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.Title {
  font-family: Monolith Light;
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
  font-weight: bold;
  z-index: 2;
}

.Line {
  width: 80%;
  margin: 10px 0;
  border: 0.5px solid #333;
  position: absolute;
}

.Line:first-of-type {
  top: 5%;
}

.Line:last-of-type {
  bottom: 5%;
}

.Text {
  font-family: Monolith;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.ActionButton {
  margin: 5px 0;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 20px;
  width: 150%;
  background-color: #fff;
  border-color: #7A3A23;
  color: #7A3A23;
  border: 3;
  font-family: Monolith;
  transition: all 0.5s ease-out;
}

.ActionButton:hover {
  background-color: #7A3A23;
  color: #fff;

}

.CastleSVG {
  position: absolute;
  bottom: 0;
  left: -120px;
  right: 0;
  margin: -110px auto;
  display: block;
  width: 600px;
  height: auto;
  z-index: 1;
}

.TopStainSVG{
  position: absolute;
  mix-blend-mode: multiply;
  bottom: 0;
  left: -280px;
  right: 0;
  margin: -210px auto;
  display: block;
  width: 700px;
  height: auto;
  z-index: 0;
}

.DisplayImage {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  max-height: 300px;
  overflow-y: scroll;
}

.leaderboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}

.leaderboard__position {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  min-width: 15px;
}

.leaderboard__name {
  font-size: 16px;
  font-weight: bold;
  background-image: url('../public/svgs/name_hex.svg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  text-align: center;
}

.leaderboard__score {
  /* background-image: url('../public/svgs/score_hex.svg'); */
  fill: gold;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  /* position: absolute; */
  top: 0;
  z-index: -1;
  text-align: center;
  position: relative;
}